@import "page";

/** Aktywny link */
.header, .active {
  font-weight: bold;
};
.row.middle > * {
  vertical-align: middle;
};

/** Panel z tytułem */
.panel {
  .head, .body {
    padding: 10px;
  };
  .head:extend(.active .text-center) {};
};

/** Zawartość strony */
.segment {
  margin-left:  5px;
  margin-right: 5px;
};

/** Logowanie */
@import "login";
@import "menu";
@import "main";
@import "calendar";