@import "page";

/** Aktywny link */
.header, .active {
  font-weight: bold;
};
.row.middle > * {
  vertical-align: middle;
};

/** Panel z tytułem */
.panel {
  .head, .body {
    padding: 10px;
  };
  .head:extend(.active .text-center) {};
};

/** Zawartość strony */
.segment { margin: 0 8px; };

/** Logowanie */
@import "login";
@import "menu";
@import "main";
@import "calendar";