@import "page";

/** Menu */
nav:extend(.container) {
    @menu_padding: 24px;
    padding:   @menu_padding 0 @menu_padding 0;
    ul {
        list-style-type: none;
        padding:         0;
    };

    @item_spacing: 20px;
    li.item {
        vertical-align:  middle;
        display:         inline-block;
        &:not(:last-child) { 
            margin-right: @item_spacing;
        };
        &.active {
            border-bottom: 1px solid @divider;
        };
    };
};

/** Aktywny link */
.active { font-weight: bold; };