extends layout.jade
block content
    div.container(ng-controller="LayoutCtrl")
        div.ui.text.large.menu
            h3.header.item 
                i.desktop.icon
                | OBKK 2.0
            a.item( ui-sref="home.mod({name: 'index'})"
                  , ui-sref-active="active"
                  , app-permission) Strona Główna

            a.item( ui-sref="register.info"
                  , ui-sref-active="active"
                  , app-permission) Rejestracja

            a.item( ui-sref="login"
                  , ui-sref-active="active"
                  , app-permission) Logowanie

            a.item( ng-click="logout()"
                  , app-permission="{anonymous: false}")
                | Wyloguj: 
                strong {{ userName }}

        div.ui.grid
            div.row(ui-view)

        div.ui.divider
        div.ui.three.column.grid
            div.column(ng-repeat="n in [] | range:2")
                div.ui.header 
                    i.call.icon
                    div.content 
                        div.header Kontakt
                        div.sub.header z administracją
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.

