extends layout.jade

block menu
    .ui.text.large.menu
        h3.header.item 
            i.desktop.icon
            | OBKK 2.0

        mixin item(sref, title)
            a.item( ui-sref=sref
                  , ui-sref-active="active"
                  , app-permission)
                = title

        +item("home.mod({name: 'index'})", "Strona Główna")
        +item("register.info", "Rejestracja")
        +item("login", "Logowanie")

        a.item( ng-click="logout()"
              , app-permission="{anonymous: false}")
            | Wyloguj: 
            strong {{ userName }}

block content
    .ui.grid
        .row(ui-view)

    .ui.ider

block footer
    .ui.three.column.grid
        each v in [ 1, 2, 3 ]
            .column
                .ui.header 
                    i.call.icon
                    .content 
                        .header Kontakt
                        .sub.header z administracją
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.

