extends layout.jade
block content
    div.container
        div.ui.large.menu
            h3.header.item 
                i.desktop.icon
                | OBKK 2.0
            a.item( ui-sref="home") Strona Główna
            a.item( ui-sref="register.info"
                  , ui-sref-active="active"
                  , app-permission="{anonymous: true}") Rejestracja
            a.item( ui-sref="login"
                  , ui-sref-active="active"
                  , app-permission="{anonymous: true}") Logowanie
            span.right.menu
                a.item( app-permission="{anonymous: false}") Wyloguj

        div.ui.grid
            div.row(ui-view)

        div.ui.divider
        div.ui.three.column.grid
            div.column(ng-repeat="n in [] | range:2")
                div.ui.header 
                    i.call.icon
                    div.content 
                        div.header Kontakt
                        div.sub.header z administracją
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.

