doctype html
html(lang="PL")
	head
		meta(charset="UTF-8")
		title="OBKK"

		script(src="http://localhost:35729/livereload.js")
		script(src="js/config.js")
		script(data-main="js/main.js" src="lib/requirejs/require.js")

	body
		block content
