@import "../cleancss/page";
@import "../cleancss/const";

.mail-headers {
  font-size: @small;
  .header div {
    margin:  0;
    padding: 0;
    &:first-of-type {
      font-weight: normal;
    };
  };
};
.inbox {
  margin-bottom: 0;

  .menu li:nth-child(4) {
    margin-top: 15px;
  };
  .visible-pages select {
    height: 32px;
  };
  .message-box {
    font-size: @small;
    width:     100%;
  };
  .mail {
    cursor:    pointer;
    margin:    0;
    padding:   0;
    font-size: @small;

    div:extend(.text-ellipsis) {
      margin-bottom: 0;
      padding:       1px 0;
    };

    &:hover {
      font-weight: bold;
    };
    &.nested {
      font-size:    @smallest;
      padding-left: 32px;
    };
    &.unread:extend(.text-bold) {
      @keyframes textPulse {
        0%    { opacity: 1     }
        50%   { opacity: 0.05; }
        100%  { opacity: 1;    }
      };
      animation: textPulse 2s infinite;
    };
    &.selected:extend(.active) {
      animation: none;
    };
  };
};