@import "../cleancss/const";

.shoutbox .shout {
  padding:       5px 5px 0;
  width:         100%;
  border-bottom: 1px dotted @info;
  margin-bottom: 10px;
  i {
    margin-right: 5px;
  };
  .content:extend(.text-justify) {
    margin: 0 0 8px;
    font-size: @small;
    i {
      margin:    0 2px;
    };
  };
  div {
    margin-bottom: 0;
  };
};

.group {
  .news:not(:last-child) {
    border-bottom: 1px dotted @info;
  };
  .news {
    font-size:   0.85em;
    &:not(:first-child) {
      .fa { display: none; };
    };
    span.date:extend(.pull-right, .text-smallest) {};
  };
};