.ui.text.menu
    a.active.item Wszyscy
    a.item Administracja
    a.item Preleganci
    a.item Firmy

table.ui.very.basic.table
    thead
        tr
            th ID
            th Imię
            th Nazwisko
            th Moduły