{{ a }}
.ui.text.menu
    a.active.item Wszyscy
    a.item Administracja
    a.item Preleganci
    a.item Firmy

table.ui.very.basic.table
    thead
        tr
            th.one.wide
                .ui.checkbox 
                    input(type="checkbox", id="f")
                    label(for="f")
            th E-Mail
            th Imię
            th Nazwisko
            th Moduły
    tbody
        each v in [ 1, 2, 3, 4, 5, 6 ]
            tr
                td 
                    .ui.checkbox 
                        input(type="checkbox", id="f")
                        label(for="f")
                td cziken@vp.pl
                td Mateusz
                td Bagiński
                td [ #[i.icon.home] #[strong index], #[i.icon.settings] #[strong mod_mgmt] ]