.ui.text.menu
    a.item Wszyscy
    a.item Administracja
    a.item Preleganci
    a.item Firmy

table.ui.very.basic.table
    thead
        tr
            th.one.wide
                .ui.checkbox
                    input(type="checkbox", id="selectAll")
                    label(for="selectAll", ng-click="selectAll()")
            th E-Mail
            th Imię
            th Nazwisko
            th Moduły
    tbody
        tr(ng-repeat="user in list")
            td 
                .ui.checkbox 
                    input( type="checkbox", id="{{ 'checkbox_' + user._id }}"
                         , ng-model="user.selected")
                    label(for="{{ 'checkbox_' + user._id }}")
            td {{ user.email }}
            td {{ user.info.name }}
            td {{ user.info.surname }}
            td 
                span(ng-repeat="group in user.groups" style="padding-right: 5px")
                    <i class="icon {{ group.dom.icon }}"></i> 
                    strong {{ group.name }}