table.calendar
    thead
        tr
            th Godz.
            th Poniedziałek &nbsp; #[span.gray.smallest.text-info 7-11-2015 ]
            th Wtorek &nbsp; #[span.gray.smallest.text-info 8-11-2015 ]
            th Środa &nbsp; #[span.gray.smallest.text-info 9-11-2015 ]

    tbody
        tr
            td
                .time 5:00
            td
            td
            td
        each val in [ 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ]
            tr
                td
                    .time #{val}:00
                td
                    mixin note(content, title, c)
                        .note(class='#{c}', ng-toggle-class='expand')
                            .title
                                i.fa.fa-lg.expand-icon
                                .span.text-center #{title}
                            .content #{content}
                            .footer
                                .left-floated
                                    i.fa.fa-lg.fa-thumb-tack
                                    |   Łukasz Kurak

                                .right-floated
                                    i.fa.fa-lg.fa-clock-o
                                    |  2h:30min

                    if val == 7
                        +note('Novell, Inc. amerykańskie przedsiębiorstwo specjalizujące się w sieciowych systemach operacyjnych takich jak NetWare i SUSE Linux.', 'Novell')
                        +note('Microsoft [ˈmaɪkɹoʊˌsɑːft] – jedno z największych na świecie przedsiębiorstw z branży technologii informacyjnych[4]. Najbardziej znane jako producent systemów operacyjnych MS-DOS, Microsoft Windows i oprogramowania biurowego Microsoft Office.', 'Microsoft', 'color-bg-purple')
                td
                    if val == 6
                        +note('Novell, Inc. – amerykańskie przedsiębiorstwo specjalizujące się w sieciowych systemach operacyjnych takich jak NetWare i SUSE Linux.', 'Novell', 'color-bg-orange')

                td
                    if val == 9
                        +note('Novell, Inc. – amerykańskie przedsiębiorstwo specjalizujące się w sieciowych systemach operacyjnych takich jak NetWare i SUSE Linux.', 'Novell', 'color-bg-turquoise')