.text-center
    img(src='http://img2.wikia.nocookie.net/__cb20120109150839/callofduty/images/thumb/b/b1/Pedobear.jpg/621px-Pedobear.jpg', width='128px')
    .text-huge {{ ::code }}
    .text-normal Jaka szkoda... {{ ::info }}
