include ./functions

h3.header-title.path-toolbar
    span.pull-left {{ pathName }}
    span.pull-right
        span.btn-group
            +toolbarBtn('level-up', 'fn.go("../")')
            +toolbarBtn('home', 'fn.go("/")')
            +toolbarBtn('arrow-right', 'fn.go("-")')

        strong.segment
        span(app-tabs-buttons)

.gallery.folders
    .col20(ng-repeat='(title, folder) in currentPath', ng-if='title != "files" && title != "parent"')
        .frame(ng-click='fn.go("./"+title)')
            .text-ellipsis
                span.pull-left
                    i.fa.fa-folder-o.fa-fw
                    |  {{ title }}
                span.pull-right
                    i.fa.fa-files-o.fa-fw
                    |  {{ folder.files.length }}
.gallery.files
    .col100.preview(ng-show='currentFile', ng-click='fn.closeFile()')
        img(src='{{ currentFile.url }}')

    .col20( app-tabs='file in currentPath.files'
            app-tabs-visible='40'
            ng-toggle-class='expand'
            ng-click='fn.openFile(file)')
        .frame.thumbnail
            img(src='{{ file.url }}')
            .text-ellipsis
                i.fa.fa-file-o.fa-fw
                |  {{ file.name }}