include ./functions

.col20.menu
    ul.segment
        +item('Wszystkie', 'folder-o')

    ul.segment
        +item('Odebrane', 'inbox')
        +item('Wysłane', 'send')
        +item('Skasowane', 'trash')

    ul.segment
        +toolbarBtn('refresh', '')
        +toolbarBtn('file-o', '', ' Nowy')
.col80
    table.inbox
        col(style='width: 20%')
        col(style='width: 50%')
        col(style='width: 20%')
        col(style='width: 10%')
        thead
            tr
                th Adresat
                th Tytuł
                th Data
                th #[i.fa.fa-trash]

        tbody
            tr
                td Łukasz Kurowski
                td Aktualizacja systemu
                td 2015-11-07 8:00
                td

            tr.read
                td Mateusz Bagiński
                td Warsztaty jakieś
                td 2015-11-07 8:00
                td
