doctype html
html(lang='pl')
    head
        title Strona internetowa
        meta(charset="UTF8")

        // bower:css
        link(rel='stylesheet', href='../data/lib/font-awesome/css/font-awesome.css')
        // endbower
        
        link(href='../data/font/style.css', rel='stylesheet')
        link(href='../css/page.css', rel='stylesheet')

    body
        // bower:js
        script(src='../data/lib/angularjs/angular.js')
        script(src='../data/lib/angular/angular.js')
        script(src='../data/lib/angular-ui-router/release/angular-ui-router.js')
        script(src='../data/lib/angular-resource/angular-resource.js')
        script(src='../data/lib/ngstorage/ngStorage.js')
        // endbower

        script(src='http://localhost:35729/livereload.js')
        script(src='../js/app.js')

        .container(ui-view)



