#login-box.row.middle
    form.form(ng-submit='fn.login()')
        .row
            .col50
                .col100
                    .header.small Login:
                    .left.labeled.icon
                        i.right.fa.fa-home
                        input(type='text', placeholder='login', ng-model='form.login', required)
                        .label.corner.star

                .col100
                    .header.small Hasło:
                    .left.labeled.icon
                        i.right.fa.fa-key
                        input(type='password', placeholder='hasło', ng-model='form.password', required)
                        .label.corner.star

                .col60
                    .left.labeled
                        button.danger(type='submit') Zaloguj się!
                        .label.fa.fa-sign-in

            .col30.col-offset20
                .left.labeled
                    button.green(ui-sref='register') Zarejestruj!
                    .label.fa.fa-key
