.row.middle
    .col20.col-offset10
        .form
            .group
                .header.small Login:
                .labeled.left.icon
                    input(type='text', placeholder='login')
                    .label.corner.star
                    i.fa.fa-home

            .group
                .header.small Hasło:
                .labeled.left.icon
                    input(type='password', placeholder='hasło')
                    .label.corner.star
                    i.fa.fa-key

            .group
                button.danger Zaloguj
    .col50.col-offset20
        | BLA