#login-box.row.middle(ng-controller='LoginCtrl')
    .form
        .row
            .col50
                .group
                    .header.small Login:
                    .left.labeled.icon
                        i.right.fa.fa-home
                        input(type='text', placeholder='login')
                        .label.corner.star

                .group
                    .header.small Hasło:
                    .left.labeled.icon
                        i.right.fa.fa-key
                        input(type='password', placeholder='hasło')
                        .label.corner.star

                .group
                    .left.labeled
                        button.danger Zaloguj się!
                        .label.fa.fa-sign-in

            .col30.col-offset20
                .left.labeled
                    button.green(ng-click='caller.showRegisterForm()') Zarejestruj!
                    .label.fa.fa-key
