h4.header OBKK 2.0

mixin item(title, icon, sref)
    li(ui-sref=sref, ui-sref-active='active')&attributes(attributes).item
        i.fa(class="fa-#{icon} fa-fw")
        = title

ul.segment(app-permission, app-flag='anon')
    +item('Zaloguj się', 'sign-in', 'login')
    +item('Zarejestruj się', 'user-plus', 'register')

logged-only
    ul.segment
        +item('Twoje konto', 'user')
        li.item
            strong.small Zalogowano: {{ displayName }}
            .smallest Ostatnio: {{ lastLogged }}
        +item('Wyloguj się', 'sign-out')(ng-click='fn.logout()')

    ul.segment
        .divider.vertical
        +item('Kalendarz', 'calendar')
        +item('Moduły:', 'cog')
        ul.submenu
            li.item Zarządzaj userami
            li.item Zarządzaj wykładami
            li.item Awarie
            li.item Logi
            li.item Statystyki
        .divider.vertical

ul.segment
    +item('Informacje', 'info')