h4.header OBKK 2.0

mixin item(title, icon)
    li.item 
        i.fa(class="fa-#{icon} fa-fw")
        = title

ul.segment
    +item('Twoje konto', 'user')
    +item('Wyloguj się', 'sign-out')

ul.segment
    .divider.vertical
    +item('Kalendarz', 'calendar')
    +item('Moduły:', 'cog')
    ul.submenu
        li.item Zarządzaj userami
        li.item Zarządzaj wykładami
        li.item Awarie
        li.item Logi
        li.item Statystyki
    .divider.vertical

ul.segment
    +item('Informacje', 'info')