h3.header OBKK 2.0
//- img(style='max-height: 128px; width: auto;', src='img/logo.png')
mixin item(title, icon, sref)
    li.item(ui-sref=sref, ui-sref-active='active')&attributes(attributes)
        i.fa(class="fa-#{icon} fa-fw")
        = title

ul.segment
    +item('Aktualności', 'newspaper-o', 'news')
    +item('Galeria', 'photo', 'gallery')
    +item('Wiadomości', 'envelope-o')
ul.segment(app-permission, app-flag='anon')
    +item('Zaloguj się', 'sign-in', 'login')
    +item('Zarejestruj się', 'user-plus', 'register.request')

logged-only
    ul.segment
        +item('Twoje konto', 'user', 'account')
        +item('Wyloguj się', 'sign-out')(ng-click='fn.logout()')

    ul.segment
        +item('Kalendarz', 'calendar', 'calendar')
        li.item(ng-repeat='mod in mods', ui-sref='{{ mod.menu.ref }}', ui-sref-active='active')
            i.fa(class="fa-{{ mod.menu.icon }} fa-fw")
            | {{ mod.menu.title }}
            ul
                li.item(ng-repeat='link in mod.menu.sublinks', ui-sref='{{ link.ref }}')
                | {{ link.title }}

ul.segment
    +item('Informacje', 'info')