form.form(ng-controller='RegistrationCtrl as f', ng-submit='f.register()')
    h3.header Rejestracaja użytkownika:
    .row
        .col60
            .col50.group
                .header.small Imię:
                .left.labeled.icon
                    i.right.fa.fa-user
                    input(type='text', placeholder='imię', ng-model='form.user.info.name', required)
                    .label.corner.star
            .col50.group
                .header.small Nazwisko:
                .left.labeled.icon
                    i.right.fa.fa-user
                    input(type='text', placeholder='nazwisko', ng-model='form.user.info.surname', required)
                    .label.corner.star

            .col100.group
                .header.small Hasło:
                .left.labeled.icon
                    i.right.fa.fa-key
                    input(type='password', placeholder='hasło', ng-model='form.user.password', required)
                    .label.corner.star


            .col50.group
                .header.small e-mail:
                .left.labeled.icon
                    i.right.fa.fa-envelope-o
                    input(type='text', placeholder='abc@de.fg', ng-model='form.user.email', required)
                    .label.corner.star
            .col50.group
                .header.small Telefon:
                .left.labeled.icon
                    i.right.fa.fa-phone
                    input(type='text', ng-placeholder='DDD-DDD-DDD', ng-model='form.user.info.phone', required)
                    .label.corner.star


        .col40.group.small
            .header Wybrane usługi:

            ul.input.list(ng-repeat='order in orders')
                li #[input(type='checkbox', ng-checkbox-value='order', ng-checkbox-list='form.user.orders')] #[ {{ order.name }} ({{ order.price }}zł)]

            .divider.vertical
            | Łączny koszt: #[strong {{ totalCost }}]zł
            
    fieldset.row(ng-show='advanced', ng-disabled='!advanced')
        h3.header Rejestracja firmy:
        .col40
            .col100.group
                .header.small Ulica
                .left.labeled.icon
                    i.right.fa.fa-home
                    input(type='text', placeholder='ulica', ng-model='form.company.info.street', required)
                    .label.corner.star

            .col100.group
                .header.small NIP
                .left.labeled.icon
                    i.right.fa.fa-key
                    input(type='text', ng-placeholder='DDD-DD-DD-DDD', ng-model='form.company.nip', required)
                    .label.corner.star

        .col60
            .col50.group
                .header.small Miejscowość
                .left.labeled.icon
                    i.right.fa.fa-globe
                    input(type='text', placeholder='miejscowość', ng-model='form.company.info.city', required)
                    .label.corner.star

            .col50.group
                .header.small Kod
                .left.labeled.icon
                    i.right.fa.fa-key
                    input(type='text', ng-placeholder='DD-DDD', ng-model='form.company.info.code', required)
                    .label.corner.star

            .col100.group
                .header.small Nazwa firmy
                .left.labeled.icon
                    i.right.fa.fa-user
                    input(type='text', placeholder='nazwa firmy', ng-model='form.company.name', required)
                    .label.corner.star

    .row
        .header.small Rejestruj jako:
        ul.input.list
            li
                input(type='checkbox', ng-click='advanced = !advanced')
                | administrator firmy&nbsp;
                span.smallest (konieczne wypełnienie dodatkowego formularza)

            li(ng-show='advanced')
                input(type='checkbox', ng-model='form.user.prelegant')
                | prelegent&nbsp;
                span.smallest (stajesz się prelegentem stworzonej firmy)

    .row
        .col100
            .message.danger(ng-show='error') 
                i.fa.fa-exclamation-triangle.fa-2
                | &nbsp;{{ error }}
        .pull-right
            .left.labeled
                button.green(type='submit') Zarejestruj się!
                .label.fa.fa-send