include ./functions.jade

form.form(ng-submit='fn.register()')
    h3.header-title Rejestracaja {{ advanced ? 'administratora' : 'użytkownika' }}:
    .row
        .col60
            .col50  #[+formField('Imię', 'user', 'text', 'imię', 'form.user.info.name')]
            .col50  #[+formField('Nazwisko', 'user', 'text', 'nazwisko', 'form.user.info.surname')]
            .col100 #[+formField('Hasło', 'key', 'password', 'hasło', 'form.user.password')]
            .col50  #[+formField('e-mail', 'envelope-o', 'text', 'abc@de.fg', 'form.user.email')]
            .col50  #[+formField('Telefon', 'phone', 'text', '', 'form.user.info.phone')(ng-placeholder='DDD-DDD-DDD')]
        .col40.small
            +orders

    .row
        .header.small Rejestruj jako:
        .col100
            ul.input.list
                li
                    input(type='checkbox', ng-click='fn.toggleAdvanced()')
                    | administrator firmy&nbsp;
                    span.smallest (konieczne wypełnienie dodatkowego formularza)

                li(ng-show='advanced')
                    input(type='checkbox', ng-model='form.user.prelegant')
                    | prelegent&nbsp;
                    span.smallest (stajesz się prelegentem stworzonej firmy)

    fieldset.row(ng-show='advanced', ng-disabled='!advanced')
        h3.header-title Rejestracja firmy:
        .col40
            .col100 #[+formField('Ulica', 'home', 'text', 'ulica', 'form.company.info.street')]
            .col100 #[+formField('Miejscowość', 'globe', 'text', 'miejscowość', 'form.company.info.city')]

        .col60
            .col40  #[+formField('Kod', 'key', 'text', '', 'form.company.info.code')(ng-placeholder='DD-DDD')]
            .col60  #[+formField('NIP', 'key', 'text', '', 'form.company.nip')(ng-placeholder='DDD-DD-DD-DDD')]
            .col100 #[+formField('Nazwa firmy', 'user', 'text', 'nazwa firmy', 'form.company.name')]

        h3.header-title Rejestracja uczestników z firmy:
        .col100
            table
                tr(ng-repeat='user in form.company.users')
                    td {{ ::user.name }}
                    td {{ ::user.surname }}
                    td {{ ::user.email }}
                    td(style='width: 32px')
                        button.danger(ng-click='fn.removeCompanyUser(user)') #[i.fa.fa-times]

            .smallest.text-gray (każdy użytkownik dostanie email'a zwrotnego z dopełnieniem rejestracji)

        .col100
            .col20 #[+subformField('user', 'text', 'imię', 'companyUser.name')]
            .col20 #[+subformField('user', 'text', 'nazwisko', 'companyUser.surname')]
            .col30 #[+subformField('envelope-o', 'text', 'e-mail', 'companyUser.email')]
            .col30 
                .left.labeled
                    button.danger(type='button', ng-click='fn.addCompanyUser()') Dodaj uczestnika
                    .label.fa.fa-save

    .row
        +error
        .col100
            .pull-right.left.labeled
                button.green(type='submit') Zarejestruj się!
                .label.fa.fa-send