fieldset(ng-disabled="!company")
    .field
        label Nazwa firmy:
        .ui.right.labeled.left.icon.input
            i.user.icon
            input(required, type="text", placeholder="Nazwa Firmy", ng-model="form.company.name")
            .ui.corner.label
                i.asterisk.icon

    .field
        label NIP:
        .ui.right.labeled.left.icon.input
            i.privacy.icon
            input(required, type="text", ng-placeholder="DDD-DD-DD-DDD", maxlength="13", ng-model="form.company.nip")
            .ui.corner.label
                i.asterisk.icon

    .ui.horizontal.divider Dane adresowe:
    .fields
        .ten.wide.field
            label Ulica:
            .ui.right.labeled.left.icon.input
                i.home.icon
                input(required, type="text", placeholder="Ulica", ng-model="form.company.info.street")
                .ui.corner.label
                    i.asterisk.icon

        .six.wide.field
            label Kod:
            .ui.right.labeled.left.icon.input
                i.home.icon
                input(required, type="text", ng-placeholder="DD-DDD", maxlength="6", ng-model="form.company.info.code")
                .ui.corner.label
                    i.asterisk.icon

    .two.fields
        .field
            label Miejscowość:
            .ui.right.labeled.left.icon.input
                i.home.icon
                input(required, type="text", placeholder="Miasto", ng-model="form.company.info.city")
                .ui.corner.label
                    i.asterisk.icon

        .field
            label Strona internetowa:
            .ui.left.icon.input
                i.world.icon
                input(type="text", placeholder="http://example.com", , ng-model="form.company.info.webpage")

    p.style(style="text-align: right !important; color: lightgray !important;") * Separatory wstawiane są automatycznie
