div.ui.icon.message
    i.inbox.icon
    div.content
        div.header Link aktywacyjny
        p 
            | został wysłany pod wprowadzony email. 
            | W celu doepłnienia rejestracji konta kliknij 
            | w link aktywacyjny w nadesłanej wiadomości.