form.ui.form(ng-submit="register()")
    .ui.two.column.relaxed.fitted.stackable.grid
        .column
            .ui.header
                i.user.icon
                .content
                    | Użytkownik
                    .sub.header uczestnik/administrator firmy OBKK
            include user.jade

            .field
                input.ui.button.red(type="submit", value="Przejdź dalej")
                    
        .column
            .ui.header
                i.users.icon
                .content
                    | Firma
                    .sub.header zgłasza uczestników
            include company.jade