form.ui.form(ng-submit="register()")
    div.ui.two.column.relaxed.fitted.stackable.grid
        div.column
            div.ui.header
                i.user.icon
                div.content
                    | Użytkownik
                    div.sub.header uczestnik/administrator firmy OBKK
            include user.jade

            div.field
                input.ui.button.red(type="submit", value="Przejdź dalej")
                    
        div.column
            div.ui.header
                i.users.icon
                div.content
                    | Firma
                    div.sub.header zgłasza uczestników
            include company.jade