.two.fields
    .field
        label Imie:
        .ui.right.labeled.left.icon.input
            i.user.icon
            input(required, type="text", placeholder="Imię", ng-model="form.user.info.name")
            .ui.corner.label
                i.asterisk.icon

    .field
        label Nazwisko:
        .ui.right.labeled.left.icon.input
            i.user.icon
            input(required, type="text", placeholder="Nazwisko", ng-model="form.user.info.surname")
            .ui.corner.label
                i.asterisk.icon

.field
    label Hasło:
    .ui.right.labeled.left.icon.input
        i.lock.icon
        input(required, type="password", placeholder="Hasło", ng-model="form.user.password")
        .ui.corner.label
            i.asterisk.icon

.two.fields
    .field
        label Email:
        .ui.right.labeled.left.icon.input
            i.at.icon
            input(required, type="email", placeholder="abc@abc.pl", ng-model="form.user.email")
            .ui.corner.label
                i.asterisk.icon

    .field
        label Telefon:
        .ui.right.labeled.left.icon.input
            i.text.telephone.icon
            input(required, type="tel", ng-placeholder="DDD-DDD-DDD", ng-model="form.user.info.phone", maxlength="11")
            .ui.corner.label
                i.asterisk.icon

.fields
    .ten.wide.field
        label Usługi:
        .grouped.fields
            .field(ng-repeat="order in orders")
                .ui.checkbox
                    input(type="checkbox"
                        , id="{{ order._id }}"
                        , ng-name="order._id"
                        , ng-checkbox-value="order"
                        , ng-checkbox-list="form.user.orders")
                    label(for="{{ order._id }}") {{ order.name }} - {{ order.price }} zł

            .ui.ider
            .inline.fields
                label Łączne koszty:
                .field {{ totalCost || 0 }} zł

    .six.wide.field
        label Typ konta:
        .grouped.fields
            .field
                .ui.checkbox
                    input(type="checkbox", id="type", ng-model="form.user.prelegant")
                    label(for="type") Wykładowca

            .field
                .ui.checkbox
                    input(type="checkbox", id="company", ng-model="company")
                    label(for="company") Firma