.ui.one.column.center.aligned.grid
    .twelve.wide.column
        .ui.login-box.two.column.stackable.middle.aligned.relaxed.grid(style="position: relative")
                .left.aligned.column
                    .ui.error.icon.message(ng-show="error.length")
                        i.lock.icon
                        .content
                            .header Błąd logowania
                            {{ error }}
                    form.ui.form(ng-submit="login()")
                        .field
                            label Login:
                            .ui.right.labeled.left.icon.input
                                i.user.icon
                                input(required, type="email", placeholder="Email", ng-model="form.login")
                                .ui.corner.label
                                    i.asterisk.icon

                        .field
                            label Hasło:
                            .ui.right.labeled.left.icon.input
                                i.lock.icon
                                input(required, type="password", placeholder="Hasło", ng-model="form.password")
                                .ui.corner.label
                                    i.asterisk.icon

                        .right.aligned.field
                            input.ui.button.blue(type="submit", value="Zaloguj")

                .ui.vertical.divider LUB

                .center.aligned.column
                    a.huge.green.ui.labeled.icon.button(ui-sref="register.info")
                        i.signup.icon
                        | Zarejestruj się
