div.ui.form
	div.two.fields
		div.field
			label Imie:
			div.ui.right.labeled.left.icon.input
				i.user.icon
				input(type="text", placeholder="Imię")
				div.ui.corner.label
					i.asterisk.icon

		div.field
			label Nazwisko:
			div.ui.right.labeled.left.icon.input
				i.user.icon
				input(type="text", placeholder="Nazwisko")
				div.ui.corner.label
					i.asterisk.icon

	div.field
		label Hasło:
		div.ui.right.labeled.left.icon.input
			i.lock.icon
			input(type="password", placeholder="Hasło")
			div.ui.corner.label
				i.asterisk.icon

	div.two.fields
		div.field
			label Email:
			div.ui.right.labeled.left.icon.input
				i.at.icon
				input(type="email", placeholder="abc@abc.pl")
				div.ui.corner.label
					i.asterisk.icon

		div.field
			label Typ:
			div.ui.checkbox.checked
				input(type="checkbox")
				label Wykładowca
	div.field.right.aligned
		div.ui.red.submit.button Przejdź dalej