include ../functions

.inbox
    .col20.menu
        ul.segment
            +item('{{ folder.name }}', '{{ folder.icon }}', '.folder({folder: folder._id})')(ng-repeat='folder in folders')

        ul.segment
            .btn-group
                button.default(ui-sref='inbox.compose()') #[i.fa.fa-send-o] Nowy
                button.default(ng-click='fn.refresh()') #[i.fa.fa-refresh]
                button.default( ng-click='folderCreator = !folderCreator'
                                ng-class='{ "active": folderCreator }') #[i.fa.fa-folder-o]

        ul.segment(ng-show='folderCreator')
            .group
                .btn-group.horizontal
                    .labeled.icon
                        i(class='left fa fa-folder-o')
                        input(type='text', placeholder='Nazwa folderu', ng-model='createdFolder.name')
                    .left.labeled
                        button.default(ng-click='fn.createFolder(createdFolder)') Stwórz folder
                        .label.fa.fa-save

            .divider.vertical.invisible
            .group(ng-show='fn.isBuiltin()')
                .left.labeled
                    button.danger(ng-click='fn.removeFolder()') Skasuj
                    .label.fa.fa-trash
                .divider.vertical.invisible
    .col80(ui-view="")
