html
    head
        title Nie znaleziono
        style.
            body { 
                background-color: black;
            }
            div.container {
                width:          1024px;
                margin-left:    auto;
                margin-right:   auto;
                text-align:     center;
            }
            div.container > span.title {
                color:          white;
                font-size:      120px;
            }
            div.container > div.body {
                -webkit-column-count:   3; /* Chrome, Safari, Opera */
                -moz-column-count:      3; /* Firefox */
                column-count:           3;
                color:          white;
                text-align:     justify;
            }
    body
        .container
            span.title 404
            .body
                include body.jade