.three.wide.column
    .ui.vertical.steps
        a.step( ng-repeat="step in steps"
              , ui-sref="{{ step.state }}" 
              , ui-sref-active="active")
            i.icon(ng-class="step.icon")
            .content
                .title       {{ step.title }}
                .description {{ step.subtitle }}
    div(ng-show="state === 'register.info' && error.length")
        .ui.error.message
            {{ error }}

.thirteen.wide.column
    div(ui-view="steps")