div.ui(ng-controller="RegisterCtrl")
	div.ui.grid
		div.row
			div.three.wide.column
				div.ui.vertical.steps
					a.step(ng-repeat="step in steps.list", ng-class="{ 'active': $index==steps.active, 'disabled': $index>steps.active }")
						i.icon(ng-class="step.icon")
						div.content
							div.title 		{{ step.title }}
							div.description {{ step.subtitle }}

			div.ui.thirteen.wide.column
				div(ui-view="steps")