.three.wide.column
    .ui.vertical.text.menu
          .header.item Moduły
          a.item( ng-repeat="m in modules"
                , ui-sref="home.mod({ name: '{{ m.name }}' })"
                , ui-sref-active="active")
            <i class="icon {{ m.dom.icon }}"></i> {{ m.dom.title }}


.thirteen.wide.column
    div(ui-view="mod")